body {
  min-height: 2000px;
  padding-top: 70px;
}

.navbarImg {
  width:20px;
  height:20px;
}

.table th, .table td {
  border-top: none !important;
}

.table {
  margin-bottom: 0px;
}

hr {
  margin-top: 10px; margin-bottom: 10px
}
